@font-face {
  font-family: 'Glacial Indifference';
  src: url('./assets/GlacialIndifference-Regular.woff') format('woff'),
      url('./assets/GlacialIndifference-Regular.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Cantata+One&family=Libre+Baskerville:ital@0;1&family=Montserrat:ital,wght@0,300;1,300&display=swap');

.app-wrapper {
  > form {
    display: flex;
    flex-direction: column;
  }

  .back-button {
    width: 100%;
    height: 2rem;
  }

  .preview-button, .clear-button {
    width: 50%;
    margin: 1rem 25% 0;
    height: 2rem;
    
    &:first-of-type {
      margin-top: 0;
    }
  }
}