@import '../App.scss';

.main-form {
  height: 70vh;
  width: 80vw;
  margin: 10vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  label {
    font-family: sans-serif;
    font-size: .8rem;
  }
  input {
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    
  }
  .radio-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top:1rem;
  }
}